{% extends "base.html" %}
{% block title %}Investitionsprojekt{% endblock %}

{% block content %}
<h1>Hallo</h1>
<p>
    Mittels untenstehenden Buttons kannst du ein Antrag für ein neues Investitionsprojekt erstellen oder zur Übersicht navigieren.<br><br>
    <a class="btn btn-primary btn-lg" href="{{ url_for('formular') }}" role="button" type="submit">Investitionsprojekt beantragen</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('overview') }}" role="button" type="submit">Übersicht aller Investitionsprojekte</a><br><br>
</p>

{% endblock %}
