<!-- base.html wird eingebunden -->
{% extends "base.html" %}
{% block title %}Investitionsprojekt{% endblock %}
{% block content %}
<table class="container">
    <h1>Investitionsprojekte Übersicht</h1>
        <form method="POST">
            Mittels untenstehendem Auswahlfeld kannst du die Projektanträge nach dem Geschäftsbereich filtern.<br><br>
            <div class="row g-3">
                <div class="form-group col-3">
                    <select id="dd_businessunit" class="form-control" name="businessunit">
                        <option selected>Geschäftsbereich auswählen...</option>
                        <option>Informatik</option>
                        <option>Sales</option>
                        <option>Marketing</option>
                        <option>Entwicklung</option>
                    </select>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Filtern</button>
                    <a href="{{ url_for('overview') }}" type="reset" class="btn btn-danger" role="button">Filter zurücksetzen</a>
                </div>
            </div>
        </form>

        <div class="column">
            <!-- Wenn Filter value = true-->
            {% if filter %}
            <!-- Wenn Werte in der gefilterten Liste vorhanden sind -->
            {% if filter_data %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Antragsteller/in</th>
                    <th scope="col">Projektleiter/in</th>
                    <th scope="col">Geschäftsfeld</th>
                    <th scope="col">Titel</th>
                    <th scope="col">Priorität</th>
                    <th scope="col">Total Fremdleistungen</th>
                    <th scope="col">Total Eigenleistungen</th>
                    <th scope="col">Investitionssumme</th>
                    <th scope="col">Startdatum</th>
                    <th scope="col">1.Meilenstein</th>
                    <th scope="col">2.Meilenstein</th>
                    <th scope="col">3.Meilenstein</th>
                    <th scope="col">4.Meilenstein</th>
                    <th scope="col">Enddatum</th>
                    <th scope="col">1.Quartal</th>
                    <th scope="col">2.Quartal</th>
                    <th scope="col">3.Quartal</th>
                    <th scope="col">4.Quartal</th>
                    <th scope="col">Stunden Informatik</th>
                    <th scope="col">Stunden Buchhaltung</th>
                    <th scope="col">Stunden Marketing</th>
                    <th scope="col">Stunden Entwicklung</th>
                </tr>
                </thead>
                <tbody>
                <!-- Liste von allen dictionaries -->
                {% for filter_dict in filter_data %}
                <tr>
                    <!-- alle keys und values der dictionaries durchgehen -->
                    {% for key, value in filter_dict.items() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            Zu dem gefilterten Geschäftsfeld gibt es kein Projekt.
            {% endif %}
            {% endif %}
        </div>
        {% if not filter %}
        <table class="table">
            <tr>
                <th scope="col">Antragsteller/in</th>
                <th scope="col">Projektleiter/in</th>
                <th scope="col">Geschäftsfeld</th>
                <th scope="col">Titel</th>
                <th scope="col">Priorität</th>
                <th scope="col">Total Fremdleistungen</th>
                <th scope="col">Total Eigenleistungen</th>
                <th scope="col">Investitionssumme</th>
                <th scope="col">Startdatum</th>
                <th scope="col">1.Meilenstein</th>
                <th scope="col">2.Meilenstein</th>
                <th scope="col">3.Meilenstein</th>
                <th scope="col">4.Meilenstein</th>
                <th scope="col">Enddatum</th>
                <th scope="col">1.Quartal</th>
                <th scope="col">2.Quartal</th>
                <th scope="col">3.Quartal</th>
                <th scope="col">4.Quartal</th>
                <th scope="col">Stunden Informatik</th>
                <th scope="col">Stunden Buchhaltung</th>
                <th scope="col">Stunden Marketing</th>
                <th scope="col">Stunden Entwicklung</th>
            </tr>
            <!-- Liste von allen dictionaries -->
            {% for key, values in data.items()%}
            <tr>
                    <!-- alle keys und values der dictionaries durchgehen -->
                    {% for key2, value in values.items()%}
                    <td>{{ value }}</td>
                    {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</table>
{% endblock %}