{% extends "base.html" %}
{% block title %}Investitionsprojekt{% endblock %}

{% block content %}

<table class="container">
        <h1>Investitionsprojekte Übersicht</h1>
        <form method="POST">
            Mittels untenstehendem Auswahlfeld kannst du die Projektanträge nach dem Geschäftsbereich filtern.<br><br>
            <div class="row g-3">
                <div class="form-group col-3">
                    <select id="dd_businessunit" class="form-control" name="businessunit">
                        <option selected>Geschäftsbereich auswählen...</option>
                        <option>Informatik</option>
                        <option>Sales</option>
                        <option>Buchhaltung</option>
                        <option>Entwicklung</option>
                    </select>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Filtern</button>
                    <a href="{{ url_for('overview') }}" type="reset" class="btn btn-danger" role="button">Filter zurücksetzen</a>
                </div>
            </div>
        </form>

        <div class="column">
            {% if Filter %}
            {% if allitems %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Antragsteller/in</th>
                    <th scope="col">Projektleiter/in</th>
                    <th scope="col">Geschäftsfeld</th>
                    <th scope="col">Titel</th>
                    <th scope="col">Priorität</th>
                    <th scope="col">Total Fremdleistungen</th>
                    <th scope="col">Total Eigenleistungen</th>
                    <th scope="col">Investitionssumme</th>
                    <th scope="col">Startdatum</th>
                    <th scope="col">1.Meilenstein</th>
                    <th scope="col">2.Meilenstein</th>
                    <th scope="col">3.Meilenstein</th>
                    <th scope="col">4.Meilenstein</th>
                    <th scope="col">Enddatum</th>
                    <th scope="col">1.Quartal</th>
                    <th scope="col">2.Quartal</th>
                    <th scope="col">3.Quartal</th>
                    <th scope="col">4.Quartal</th>
                    <th scope="col">Stunden Informatik</th>
                    <th scope="col">Stunden Buchhaltung</th>
                    <th scope="col">Stunden Marketing</th>
                    <th scope="col">Stunden Entwicklung</th>
                </tr>
                </thead>
                <tbody>
                {% for content in allitems %}
                <tr>
                    {% for key, value in content.items() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            Kein Projektantrag zu diesem Filter gefunden.
            {% endif %}
            {% endif %}
        </div>
        {% if not Filter %}
        <table class="table">
            <!-- for-Condition -->
            <tr>
                <th scope="col">Antragsteller/in</th>
                <th scope="col">Projektleiter/in</th>
                <th scope="col">Geschäftsfeld</th>
                <th scope="col">Titel</th>
                <th scope="col">Priorität</th>
                <th scope="col">Total Fremdleistungen</th>
                <th scope="col">Total Eigenleistungen</th>
                <th scope="col">Investitionssumme</th>
                <th scope="col">Startdatum</th>
                <th scope="col">1.Meilenstein</th>
                <th scope="col">2.Meilenstein</th>
                <th scope="col">3.Meilenstein</th>
                <th scope="col">4.Meilenstein</th>
                <th scope="col">Enddatum</th>
                <th scope="col">1.Quartal</th>
                <th scope="col">2.Quartal</th>
                <th scope="col">3.Quartal</th>
                <th scope="col">4.Quartal</th>
                <th scope="col">Stunden Informatik</th>
                <th scope="col">Stunden Buchhaltung</th>
                <th scope="col">Stunden Marketing</th>
                <th scope="col">Stunden Entwicklung</th>
            </tr>
            {% for key, values_dict in data.items()%}
            <tr>
                    {% for key2, value in values_dict.items()%}
                    <td><p class="value">{{ value }}</p></td>
                    {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</table>
{% endblock %}